<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704401145230-0b99vu5iv28imot20jsjqiglmtj1ue0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704401145230-0b99vu5iv28imot20jsjqiglmtj1ue0a</string>
	<key>API_KEY</key>
	<string>AIzaSyB9OrodNFZRS2X0LT7DfGnuANqOfer3Hsg</string>
	<key>GCM_SENDER_ID</key>
	<string>704401145230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.rithish.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-39a99</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-39a99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704401145230:ios:03b275a97e7e81f5bc38df</string>
</dict>
</plist>